.navBar{
    background-color: #00050D;
    color :#AAAAAA;
    display:flex;
    align-items: center;
    gap:2rem;
    border-radius: 10px;
    padding: 0 15px 0 15px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-size: 20px;
    justify-content: space-between;
}

.navBar .siteTitle{
    color:white;
    text-decoration: none;

}

.navBar .list{
    display: flex;
    justify-content: space-between;
    gap:2.5rem;
    align-items: center;
    position: relative;
    
}
.navBar .list .case{
    display: flex;
    justify-content: space-evenly;
    height: auto;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.navBar .list .case .fleche{
    color:inherit;
    transition: transform 0.2s;
    display:flex;
    transform-origin: center;
    
}

.navBar .list .case:hover .fleche{
  transform:  rotate(180deg);
  
}


.navBar .list .case .DropDownMenu{
    display: none;
    position: absolute;
}

.navBar .list .case:hover .DropDownMenu{
    display: block;
}

.navBar .list .case .DropDownMenu .DropDownList{
    list-style-type: none;
    padding: 0;
    margin-top:2rem;
    
    
}
.navBar .list .case .DropDownMenu .DropDownList li{
    background-color: #191E25;
    text-align: left;
    color: white;
    padding: 1rem 1.5rem 1rem 1rem;

}
.navBar .list .case .DropDownMenu .DropDownList  li:hover{

    background-color: white;
    color:#191E25
}



.link{
    text-decoration: none;
}






